
div {white-space: pre-wrap;}
body {
    margin: 0 0 0 0;
}
.box {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 2;

    display: block;
    width: 100%;
    height: 100vh;
    border: 0 0 0 0;
    white-space: pre;
    color: red;
    //visibility: hidden;
}

.text {
  /* position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;*/
    font-family:monospace;
    white-space:pre-warp;
    width: 100%;
    height: 100vh;
    overflow: scroll;
 }